*{

    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    font-family: Arial, sans-serif;

}

.carrinho{
    background-color: gray;
    padding: 2vw;
    margin: 2vw;
}

fieldset{
    padding: 2vw;
    margin: 2vw;
}

table{
    border: solid black;
    padding: 2vw;
    margin-left: 40vw;
}
