*{

    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    font-family: Arial, sans-serif;

}

body{
    background-color: rgb(7, 7, 7);
}

header, footer{
    color: white;
    
}



.carrinho{
    background-color: white;
    padding: 2vw;
    margin: 1vw;
    width: 36vw;
   
    
}

fieldset{
    padding: 2vw;
    margin: 2vw;
}

table{
    border: solid black;
    padding: 2vw;
    margin-left: 40vw;
}

.box{
    display: flex;
    flex-flow: row wrap;
    padding: 1vw;
    background-image: linear-gradient(crimson,black);
    margin: 5vw;
}
